Syslog parser fail to parse messages with IPv6 addresses

### A note for the community

<!-- Please keep this note for the community -->
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* If you are interested in working on this issue or have submitted a pull request, please leave a comment
<!-- Thank you for keeping this note for the community -->

### Problem

We are using Vector as sinks for our syslog pipeline. We are using syslog-ng agents and a collector (we call it relay) which forwards the messages to multiple Vector instances.
It was working fine on IPv4 but now we want to introduce IPv6 support to our clusters. As a first step we just enabled the syslog collector to listen on both IPv4 and IPv6. After that Vector failed to parse syslog messages.
The only change we noticed in the data stream that IPv4 addresses are now displayed as embedded in IPv6.
For example `10.32.10.116` is now shown as `::ffff:10.32.10.116`. The [RFC5424](https://datatracker.ietf.org/doc/html/rfc5424#section-6.2.4) states that the hostname can be an IP address and ...
```
   If an IPv4 address is used, it MUST be in the format of the dotted
   decimal notation as used in STD 13 [RFC1035].  If an IPv6 address is
   used, a valid textual representation as described in [RFC4291],
   Section 2.2, MUST be used.
```
The [RFC4291](https://datatracker.ietf.org/doc/html/rfc4291#section-2.2) states that it is a valid representation of an IPv6 address.
```
   3. An alternative form that is sometimes more convenient when dealing
      with a mixed environment of IPv4 and IPv6 nodes is
      x:x:x:x:x:x:d.d.d.d, where the 'x's are the hexadecimal values of
      the six high-order 16-bit pieces of the address, and the 'd's are
      the decimal values of the four low-order 8-bit pieces of the
      address (standard IPv4 representation).  Examples:

         0:0:0:0:0:0:13.1.68.3

         0:0:0:0:0:FFFF:129.144.52.38

      or in compressed form:

         ::13.1.68.3

         ::FFFF:129.144.52.38
```

### Configuration

```text
data_dir = "/var/lib/vector"

[api]
enabled = false

### sources
[sources.internal_metrics]
type = "internal_metrics"
scrape_interval_secs = 5

[sources.syslog]
type = "syslog"
address = "0.0.0.0:601"
connection_limit = 200
keepalive = { time_secs = 50 }
max_length = 102400
mode = "tcp"

### transforms

### sinks
[sinks.prometheus_exporter]
type = "prometheus_exporter"
inputs = [ "internal_metrics" ]
address = "0.0.0.0:9090"
flush_period_secs = 60

[sinks.s3_archive]
type = "aws_s3"
inputs = [ "syslog" ]
auth = { assume_role = "arn:..." }
batch = { max_bytes = 536870912, timeout_secs = 600 }
bucket = "my_bucket"
buffer = { max_size = 1073741824, type = "disk", when_full = "block" }
compression = "gzip"
encoding = { codec = "text", timestamp_format = "rfc3339" }
filename_time_format = "%T"
healthcheck = { enabled = true }
key_prefix = "logs/my_cluster/year=%Y/month=%m/day=%d/"
region = "eu-west-1"
server_side_encryption = "aws:kms"
ssekms_key_id = "alias/log-archive"
```


### Version

vector 0.33.0 (x86_64-unknown-linux-musl 89605fb 2023-09-27 14:18:24.180809939)

### Debug Output

```text
2023-11-03T09:52:51.154162Z  INFO vector::app: Log level is enabled. level="vector=info,codec=info,vrl=info,file_source=info,tower_limit=info,rdkafka=info,buffers=info,lapin=info,kube=info"
2023-11-03T09:52:51.162086Z  WARN vector::config::loading: DEPRECATED Using the deprecated "/etc/vector/vector.toml" config path as the default config location. Vector is migrating to YAML as the default config format. Future Vector versions will use "/etc/vector/vector.yaml" as the default config location.
2023-11-03T09:52:51.162168Z  INFO vector::app: Loading configs. paths=["/etc/vector/vector.toml"]
2023-11-03T09:52:51.756112Z  INFO vector::topology::running: Running healthchecks.
2023-11-03T09:52:51.756214Z  INFO vector: Vector has started. debug="false" version="0.33.0" arch="x86_64" revision="89605fb 2023-09-27 14:18:24.180809939"
2023-11-03T09:52:51.756234Z  INFO vector::app: API is disabled, enable by setting `api.enabled` to `true` and use commands like `vector top`.
2023-11-03T09:52:51.756238Z  INFO vector::topology::builder: Healthcheck passed.
2023-11-03T09:52:51.756289Z  INFO source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}: vector::sources::util::net::tcp: Listening. addr=0.0.0.0:601
2023-11-03T09:52:51.756648Z  INFO vector::sinks::prometheus::exporter: Building HTTP server. address=0.0.0.0:9090
2023-11-03T09:52:51.862119Z  INFO vector::topology::builder: Healthcheck passed.
2023-11-03T09:53:37.283627Z ERROR source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:39441}: vector::internal_events::codecs: Failed deserializing frame. error=unable to parse input as valid syslog message error_type="parser_failed" stage="processing" internal_log_rate_limit=true
2023-11-03T09:53:37.283754Z ERROR source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:39441}: vector::internal_events::codecs: Internal log [Failed deserializing frame.] is being suppressed to avoid flooding.
```


### Example Data

This is captured on the wire hence the extra fields in the beginning. If you need only the "data" and not the transport part then cut the `1731 <14>1` from the start.
```
1731 <14>1 2023-11-03T08:53:51.391+00:00 ::ffff:10.32.10.116 stdout - - [k8s NODE="ip-10-32-13-166.eu-west-1.compute.internal" NAMESPACE="kube-system" POD="kube-apiserver-ip-10-32-13-166.eu-west-1.compute.internal" CONTAINER="kube-apiserver"][meta sequenceId="1928040"] 2023-11-03T08:53:51.391+00:00 ::ffff:10.32.10.116 stdout: [k8s NODE="ip-10-32-13-166.eu-west-1.compute.internal" NAMESPACE="kube-system" POD="kube-apiserver-ip-10-32-13-166.eu-west-1.compute.internal" CONTAINER="kube-apiserver"][meta sequenceId="1928040"] {"kind":"Event","apiVersion":"audit.k8s.io/v1","level":"Metadata","auditID":"6427b8eb-b427-43f2-956c-aed06ebecadd","stage":"ResponseComplete","requestURI":"/apis/kafka.hiya.com/v1alpha1/xkafkatopics/crossplane-test-many-topics-7-nsv55","verb":"get","user":{"username":"system:serviceaccount:crossplane:crossplane","uid":"531c169c-0699-4604-aca8-e5e19f3afedf","groups":["system:serviceaccounts","system:serviceaccounts:crossplane","system:authenticated"],"extra":{"authentication.kubernetes.io/pod-name":["crossplane-76864df959-bkhfg"],"authentication.kubernetes.io/pod-uid":["d70914ff-9c09-4c25-8cb9-775ccf67cbe9"]}},"sourceIPs":["10.32.14.18"],"userAgent":"crossplane/v0.0.0 (linux/amd64) kubernetes/$Format","objectRef":{"resource":"xkafkatopics","name":"crossplane-test-many-topics-7-nsv55","apiGroup":"kafka.hiya.com","apiVersion":"v1alpha1"},"responseStatus":{"metadata":{},"code":200},"requestReceivedTimestamp":"2023-11-03T08:53:51.386379Z","stageTimestamp":"2023-11-03T08:53:51.390892Z","annotations":{"authorization.k8s.io/decision":"allow","authorization.k8s.io/reason":"RBAC: allowed by ClusterRoleBinding \"crossplane\" of ClusterRole \"crossplane\" to ServiceAccount \"crossplane/crossplane\""}}
```

### Additional Context

Vector is running in Kubernetes.

The logs above are not debug logs but in the debug logs I couldn't find the ERROR message at all, only TRACE logs, nothing else. If you need them I can upload it to somewhere but it only contains lines like this:
```
2023-11-03T09:48:08.856819284Z 2023-11-03T09:48:08.856782Z TRACE source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:38017}: vector::internal_events::tcp: Bytes received. protocol="tcp" byte_size=8019 peer_addr=10.32.2.151:38017
2023-11-03T09:48:08.856821504Z 2023-11-03T09:48:08.856788Z TRACE source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:38017}: codecs::decoding::framing::octet_counting: Octet counting encoded event detected.
2023-11-03T09:48:08.856841474Z 2023-11-03T09:48:08.856802Z TRACE source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:38017}: codecs::decoding::framing::octet_counting: Octet counting encoded event detected.
2023-11-03T09:48:08.856850554Z 2023-11-03T09:48:08.856825Z TRACE source{component_kind="source" component_id=syslog component_type=syslog component_name=syslog}:connection{peer_addr=10.32.2.151:38017}: codecs::decoding::framing::octet_counting: Octet counting encoded event detected
```

### References

_No response_

Can confirm, the presence of `:` characters in the hostname field is causing a problem. We will get this resolved as soon as we can.

This was fixed by https://github.com/vectordotdev/vector/pull/19143