[VRL] `parse_syslog()` incorrectly parses SD-fields with `"`, `\` or `]` in the values

### Vector Version

```
vector 0.17.3 (x86_64-unknown-linux-gnu d72c6e7 2021-10-21)
```

### Vector Configuration File

N/A

### Actual Behaviour

[RFC 5424 Section 6](https://datatracker.ietf.org/doc/html/rfc5424#section-6) defines Structured Data as:
```
      STRUCTURED-DATA = NILVALUE / 1*SD-ELEMENT
      SD-ELEMENT      = "[" SD-ID *(SP SD-PARAM) "]"
      SD-PARAM        = PARAM-NAME "=" %d34 PARAM-VALUE %d34
      SD-ID           = SD-NAME
      PARAM-NAME      = SD-NAME
      PARAM-VALUE     = UTF-8-STRING ; characters '"', '\' and
                                     ; ']' MUST be escaped.
      SD-NAME         = 1*32PRINTUSASCII
                        ; except '=', SP, ']', %d34 (")
```

Now consider the following VRL example of parsing a syslog message with Structured Data (SD):
```coffee
parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello"] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }
```

Note from the specification that it is possible to include `"`, `\` or `]` in `PARAM-VALUE` as long as they are escaped.

However, `parse_syslog()` doesn't seem to like this (note the extra escapes and the wrong parsing in the third case):
```coffee
parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello \"test\""] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello \\\"test\\\"", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }

parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello a\\b"] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello a\\\\b", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }

parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello [bye\]"] An application event log entry...')
# { "appname": "evntslog", "facility": "local4", "hostname": "mymachine.example.com", "message": "\"] An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }
```

### Expected Behaviour

I would have expected the following to happen instead:
```coffee
parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello \"test\""] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello \"test\"", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }

parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello a\\b"] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello a\\b", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }

parse_syslog!(s'<165>1 2003-10-11T22:14:15.003Z mymachine.example.com evntslog - ID47 [exampleSDID@32473 key="hello [bye\]"] An application event log entry...')
# { "appname": "evntslog", "exampleSDID@32473.key": "hello [bye]", "facility": "local4", "hostname": "mymachine.example.com", "message": "An application event log entry...", "msgid": "ID47", "severity": "notice", "timestamp": t'2003-10-11T22:14:15.003Z', "version": 1 }
```


@StephenWakely do you mind taking a look at this one?

@StephenWakely sorry for the long delay coming back to this.
I tested now with our data and `parse_syslog()` is parsing the SD fields correctly now :)
Thanks a million for the fix! 